form {
  display: flex;
  flex-direction: column;

  input {
    font-size: 14px;
    line-height: 1;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #251B40;
    border-radius: 30px;
    color: #251B40 ;
    background-color: var(--white-color);
    opacity: 0;

    &::placeholder {
      font-size: 14px;
      line-height: 1;
      color: #A4A5AE;
    }

    &.js-invalid-control {

      border-color: var(--accent-color);
      animation: shake 0.3s ease-in-out;

      &::placeholder {
        color: var(--accent-color);
      }
    }

    @keyframes shake {
      0% { transform: translateX(-10px); }
      20% { transform: translateX(10px); }
      40% { transform: translateX(-10px); }
      60% { transform: translateX(10px); }
      80% { transform: translateX(-10px); }
      100% { transform: translateX(0); }
    }
  }

  button[type="submit"] {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 20px;
    padding-top: 16px;
    margin: 0 auto;
    border: 0;
    border-radius: 30px;
    color: #251B40;
    background-color: #EC9A29;
    cursor: pointer;
    opacity: 0;

    transition: color 0.2s ease-in;

    &:hover,
    &:focus {
      color: var(--white-color);
    }
  }
}
