.loader {
  width: 100px;
  height: 100px;
  @extend .flex-centered-content;

  svg {
    fill: var(--pink-color);
  }

  svg:first-child {
    opacity: 0;
    transform: rotate(-45deg) translateY(20px);
    animation: leftFoot 1.5s linear infinite;
  }

  svg:last-child {
    opacity: 1;
    transform: rotate(-45deg) translateY(0);
    animation: rightFoot 1.5s 0.7s linear infinite;
  }

  @keyframes leftFoot {
    0% {
      opacity: 0;
      transform: translateY(-20px) rotate(-45deg);
    }

    50% {
      opacity: 1;
      transform: translateY(0) rotate(-45deg);
    }

    100% {
      opacity: 0;
      transform: translateY(20px) rotate(-45deg);
    }
  }

  @keyframes rightFoot {
    0% {
      opacity: 0;
      transform: translateY(-20px) rotate(-45deg);
    }

    50% {
      opacity: 1;
      transform: translateY(0) rotate(-45deg);
    }

    100% {
      opacity: 0;
      transform: translateY(20px) rotate(-45deg);
    }
  }

  &-overlay {
    @extend .flex-centered-content;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,0.5);
    z-index: 30;

    &.hidden {
      display: none;
    }
  }
}
