section.welcome
  .container
    .welcome__container
      h1.visually-hidden LittleWeb - сообщество людей, неравнодушных к web.
      p.lw-text-md.welcome__form-title Здесь Вы можете оставить свой след <span aria-hidden="true"></span> <span aria-hidden="true"></span>
      .welcome__form
        include ../components/form

      .welcome__text
        p.lw-text-sm Привет ! На&nbsp;данный момент мы&nbsp;заняты переездом и&nbsp;с&nbsp;нетерпением ждем день, когда обретем новый дом!

        p.lw-text-sm А&nbsp;пока вы&nbsp;можете заполнить форму и&nbsp;мы&nbsp;обязательно свяжемся с&nbsp;вами!
        p.lw-text-sm
          | С&nbsp;уважением, <br/>
          | команда LittleWeb <span aria-hidden="true"></span>
