/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --font-family: "Comfortaa", sans-serif;
    --content-width: 1160px;
    --content-fluid-width: 1790px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

    // colors

    --light-color: #fff;
    --accent-color: #ff1654;
    --warning-color: #EC9A29;
    --dark-color: #141024;
    --text-color: rgba(20, 16, 36, 0.7);
    --purple-color: #251b40;
    --white-color: #ffffff;
    --success-color: #688e26;
    --pink-color: #faaeae;

    --main-bg-color: var(--purple-color);

    // scrollbar
    --main-scrollbar-width: 6px;
    --main-scrollbar-color: var(--purple-color);
    --main-scrollbar-thumb-color: var(--warning-color);

    --main-transition: 0.2s ease-in;
  }
