form(action="#" method="POST")
  input(type="text" placeholder="Ваше имя*")
  input(type="text" placeholder="Электронная почта")
  input(type="tel" placeholder="Номер телефона*")

  button(type="submit") Оставить заявку
