form(action="#" method="POST")
  input(type="text" placeholder="Ваше имя*" data-required="true")
  input(type="text" placeholder="Электронная почта")
  input(type="tel" placeholder="Номер телефона*" data-required="true")

  button(type="submit") Оставить заявку
