.loader-overlay.hidden
  .loader
    svg(width="36" height="36").left-step
      use(xlink:href="./assets/svg-sprite.svg#icon-step")
    svg(width="36" height="36").right-step
      use(xlink:href="./assets/svg-sprite.svg#icon-step")
